@import "alex-variables";

@media only screen and (min-width : 320px) {
	.footer-social {

 		.footer-social-center {
 			width: 90vw;
 			padding: 20px 10px;
 			margin: 0 auto;
 		}

 		.footer-social-icon {
 			font-size: $md-font;
 			color: #777;
 			cursor: pointer;
 			text-decoration: none;
 			padding: 0;
	 		
	 		i {
 				border-radius: 100%;
 				background-color: #444;
 				font-size: 7vw;
 				padding: 4vw 4.2vw;
	 			width: 15vw;
	 			height: 15vw;
 				margin: 0 auto;
		 		
		 		&:hover {
		 			background-color: $primary-colour;
		 			color: #eee;
		  		}
	 		}

 		}

 	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.footer-social {

 		.footer-social-center {
 			width: 350px;
 			padding: 20px 10px;
 			margin: 0 auto;
 		}

 		.footer-social-icon {
 			font-size: $md-font;
 			color: #777;
 			cursor: pointer;
 			text-decoration: none;
 			padding: 0px;
	 		
	 		i {
 				border-radius: 100%;
 				background-color: #444;
 				font-size: 30px;
 				padding: 15px 17px;
	 			width: 60px;
	 			height: 60px;
 				margin: 0 auto;
		 		
		 		&:hover {
		 			background-color: $primary-colour;
		 			color: #eee;
		  		}
	 		}

 		}

 	}
}

/* Laptops and Larger Devices */
@media only screen and (min-width : 992px) {
	.footer-social {

 		.footer-social-center {
 			width: 228px;
 			padding: 20px 0px;
 			margin: 0 auto;
 		}

 		.footer-social-icon {
 			font-size: $md-font;
 			color: #777;
 			cursor: pointer;
 			text-decoration: none;
 			padding: 0;
			margin: 0;
	 		
	 		i {
 				border-radius: 100%;
 				background-color: #444;
 				font-size: 16px;
 				padding: 12px 13px;
	 			width: 40px;
	 			height: 40px;
 				margin: 0 0;
		 		
		 		&:hover {
		 			background-color: $primary-colour;
		 			color: #eee;
		  		}
	 		}

 		}

 	}
}

footer {
	background-color: #333;

	.footer-site-map {
	text-decoration: none;
	padding-top: 60px;
	color: #ccc;

		&-home,
		&-about,
		&-portfolio,
		&-blog,
		&-contact {
			list-style: none;

			.footer-site-map-home-title,
			.footer-site-map-about-title,
			.footer-site-map-portfolio-title,
			.footer-site-map-blog-title,
			.footer-site-map-contact-title {
				font-size: 90%;
				width: 80%;
				border-bottom: 2px solid $primary-colour;
				color: #777;

				a {
					pointer: cursor;
					text-decoration: none;
					text-transform: uppercase;

					&:focus, &:visited, &:active, &:link {
						color: #ccc;
					}

					&:hover {
						color: #eee;
					}
				}
			}

			.footer-site-map-home-link,
			.footer-site-map-about-link,
			.footer-site-map-portfolio-link,
			.footer-site-map-blog-link,
			.footer-site-map-contact-link {
				font-size: 80%;
				color: #777;

				&:hover {
					i { color: $primary-colour-light; }
				}

				a {
					pointer: cursor;
					text-decoration: none;
          outline: none;

					&:focus, &:visited, &:active, &:link {
						color: #ccc;
					}

					&:hover {
						color: #eee;
						padding-left: 2px;
					}
				}
			}
		}
 	}

 	.footer-copyright {
 		text-align: center;
 		color: #eee;
 		padding-bottom: 40px;


 		.footer-copyright-logo {
 			width: 30px;
 		}
 		.footer-copyright-text {
 			.footer-copyright-text-name {
				font-weight: 400;
				text-transform: uppercase;
 			}
 			.footer-copyright-text-date {
 				font-weight: bold;
 			}
 		}

 		&-acknowledge {
 			margin-top: 30px;
 			display: block;
 			font-size: 70%;
 		}
 	}
}

#to-top {
	display: none;
	position: fixed;
	cursor: pointer;
	right: 0;
	bottom: 0;
	padding: 3px 7px;
	margin: 20px;
	border: 1px solid $primary-colour;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	background-color: $primary-colour;
	color: #eee;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $primary-colour-dark;
		transform: rotate(360deg);
		border: 1px solid #eee;

		transition: all 0.2s ease-in-out;
	}
}
