/* CSS Document*/

/** Table of Contents
 * Author: Alex Dodge Copyright July 2015
 *
 * These files are broken down according to section, and that which remains constant throughout
 * all of the html files. 
 *
 * I'm still developing workflow and my preferences for CSS organization (as well as proper
 * standards for CSS organization), so this may seem messy . . . but I'm getting there.
 *
 ** Sections
 *
 * 1.0 Reset
 * 2.0 Header
 *   - 2.1 Banner
         - 2.1.1 Banner Small
         - 2.1.2 Banner Normal
 *   - 2.2 Banner Element Animation
     - 2.3 Sub Navigation Animation
     - 2.4 Sub Sub Navigation Animation
 * 3.0 Social Menu
 * 4.0 Main HTML
 * 5.0 Footer
 *
 */

 /** 1.0 Reset **/


/** 2.0 Header **/

html, html a {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/** 2.1 Banner Small **/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape),
only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait),
only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape),
screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3),
screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait),
screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape),
only screen and (max-width: 500px) {
   /** 3.0 Social Menu **/
   .social-sub-icons {
      background-color: #ccc;
      display: inline-block;
      padding: 5px;
      width: 160px;
   }

   .social-sub-icons a {
      text-decoration: none;
   }

   .social {
      border: none;
      font-size: 1.6em;
      color: #333;
      padding: 0px 8px;
      
      -webkit-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   }
   .social:link, .social:visited {color: #333;}
   .social:hover, .social:active {color: rgba(196, 130, 81, 1);} 

   .banner-container {
      background-image: url(../images/textures/txt.png);
      background-repeat: repeat;
      border-bottom: 3px solid #ccc;
      height: 4em;
      position: relative;
      z-index: 1;
      
      -webkit-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
      -o-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
      box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
   }


   /*
   * Dropit v1.1.0
   * http://dev7studios.com/dropit
   *
   * Copyright 2012, Dev7studios
   * Free to use and abuse under the MIT license.
   * http://www.opensource.org/licenses/mit-license.php
   */

   /* These styles assume you are using ul and li */
   .dropit {
      position: absolute;
      list-style: none;
      right: 0;
      top: 0;
      padding: 20px 10px;
      margin: 0;
      text-decoration: none;
   }

   .dropit .dropit-trigger { position: relative; }
   .dropit .dropit-submenu {
      position: absolute;
      top: 100%;
      left: 0; /* dropdown left or right */
      z-index: 1000;
      display: none;
      min-width: 150px;
      list-style: none;
      padding: 0;
      margin: 2em -6.6em;
   }

   .dropit .dropit-open .dropit-submenu { 
      background-color: #ccc;
      color: #333;
      display: inline-block;
      text-align: center;
      width: 100px; 
   }


   .menu ul { display: none; } /* Hide before plugin loads */

   .menu .menu-click {
      background: url(../images/logo/menu2.png) no-repeat;
      background-position: 0px 16px;
      background-size: 50px;
      padding: 25px 30px;
      margin: 0;
   }         

   .small-menu {display: inline;}

   .name1, .name2 {
      color: rgba(196, 130, 81, 1);
      display: inline;
      font-weight: bold;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
   }

   .normal-menu {display: none; overflow: hidden;}
   .name1 {
      border-bottom: 4px solid rgba(196, 130, 81, 1);
      font-size: 3em;
      padding: -10px 0;
      margin: 0 0 0 20px;
   } 
   .name2 {font-size: 2em;}
   .logo-name {display: inline;}
   .logo { display: none;}
}

/** 2.1.2 Banner Normal **/
@media only screen and (min-width: 501px) {
      /** 3.0 Social Menu **/
   .social-icons {
      display: inline-block;
      float: right;
      padding: 20px;
   }

   .social-icons a {
      text-decoration: none;
   }

   .social {
      border: none;
      font-size: 1.5em;
      color: #777;
      padding: 5px;
      
      -webkit-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   }
   .social:link, .social:visited {color: #333;}
   .social:hover, .social:active {color: rgba(196, 130, 81, 1);} 
   .small-menu {display: none; overflow: hidden;}
   .logo-name {display: none;}

   .banner-container {
      min-width: 960px;
      width: 100%;
      border-bottom: 3px solid #ccc;
      background-image: url(../images/textures/txt.png);
      background-repeat: repeat;
      z-index: 100;
      
      -webkit-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
      box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.6);
   }

   .main-nav {
      list-style-type: none;
      display: inline-block;
      margin-left: 7em;
      z-index: 100;

   }

   .main-nav li {
      display: inline-block;
      margin-right: 17px;  /* Makes sure no space between hover elements */
   }

   .sub-resource {
      position: absolute; /* Absolute position inside of relative element */
      margin-top: 16px;
      margin-left: -51px;
      display: none;
      width: 200px;
      z-index: 100;

   }

   .course-links {
      position: absolute;
      display: none;
      margin-left: 130px;
      margin-top: -41px;
      width: 150px;
      z-index: 100;

   }

   li:hover .sub-resource {
       display: block;
      z-index: 2;

   }

   .sub-nav-course:hover ul {
       display: block;
       z-index: 2;
   }

   .logo {
      width: 120px;
      position:absolute;
      display: inline-block;
      margin-left: 0.8em;
      z-index: 1;
   }
}

/** 2.2 Banner Element Animation **/
a.navigation {
   position: relative;
   background-color: rgba(196, 130, 81, 0);
   padding: 20px 20px;
   margin: -16px -10.5px;
   display: inline-block;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
   
   -webkit-box-shadow: inset 0px 0px 19px -1px rgba(0,0,0,0);
   -moz-box-shadow: inset 0px 0px 19px -1px rgba(0,0,0,0);
   -o-box-shadow: inset 0px 0px 19px -1px rgba(0,0,0,0);
   box-shadow: inset 0px 0px 19px -1px rgba(0,0,0,0);
}

a.navigation:link, a.navigation:visited {
	color: #ddd;
}
a.navigation:hover, a.navigation:active {
   background-color: rgba(196, 130, 81, 1);
	color: #222;
	
   -webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.8);
   -moz-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.8);
   -o-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.8);
   box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.8);
}

/* Highlight for the active link */
a.active-page {background-color: rgba(53, 89, 98, 0.7);}
.menu a.active-sub-page {color: rgba(196, 130, 81, 1);}

/** 2.3 Sub Navigation Animation **/

.sub-link {
   position: relative;
   display: inline-block;
   background-color: #ccc;
   padding: 10px 10px 10px 10px;
   border-bottom: solid 1px #bbb;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   color: #333;
   width: 150px;
  
	-webkit-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -moz-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -o-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.sub-link:link, .sub-link:visited {
	color: #333;
}
.sub-link:hover, .sub-link:active {
	color: #aaa;
   padding: 10px 8px 10px 12px;
}

/** 2.4 Click Link Animation **/

.click-link {
   position: relative;
   display: inline-block;
   background-color: #ccc;
   padding: 10px 10px 10px 10px;
   border-bottom: solid 1px #bbb;
   text-decoration: none;
   font-size: 1.5em;
   font-weight: bold;
   text-transform: uppercase;
   color: #333;
   width: 150px;
  
   -webkit-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -moz-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -o-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.click-link:link, .click-link:visited {
   color: #333;
}
.click-link:hover, .click-link:active {
   color: #aaa;
   padding: 10px 8px 10px 12px;
}

/** 2.4 Sub Sub Navigation Animation **/
.sub-course-link {
   font-size: 90%;
   position: relative;
   display: inline-block;
   background-color: #aaa;
   padding: 11px 8px 11px 8px;
   border-bottom: solid 1px #888;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;
   color: #222;
   width: 140px;
  
	-webkit-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -moz-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   -o-transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
   transition: color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.sub-course-link:link, .sub-course-link:visited {
	color: #333;
}
.sub-course-link:hover, .sub-course-link:active {
	color: #555;
   padding: 11px 6px 11px 10px;
}


/** 4.0 Main HTML **/
html, body, .main-container, .column {
   padding: 0;
   margin: 0;
   border: 0;
}

html { 
   background: url(../images/bg-desk3.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

body {
   font-family: "Source Sans Pro", Verdana, Geneva, sans-serif;
   color: #fff;
}

/** 5.0 Footer **/
.footer-container {
   /* Stretch across the width of page */
   width: 100%;
   padding: 0.5em 0;
   text-align: center;
   background-image: url(../images/textures/txt.png);
   background-repeat: repeat;
   
   -webkit-box-shadow: 0px -5px 15px -3px rgba(0,0,0,0.6);
   -moz-box-shadow: 0px -5px 15px -3px rgba(0,0,0,0.6);
   box-shadow: 0px -5px 15px -3px rgba(0,0,0,0.6);
}

#copyright, #contribute { display: inline; }
#copyright { font-weight: bold; }

.end {
   font-size: 80%;
   color: #ddd;
}