/* CSS Document*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

body {
	background-image: url("../images/blueBG.png");
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	text-align: center;
}

.align-center {
    margin-right: auto;
    margin-left: auto;
}

p, h1, h2, h3 {
	color: #ffffff
}

a.nav-link  {
	font-family: 'Amatic SC', cursive;
	font-size: 190%;
    padding: 10px 15px 10px 15px;
    margin: 0px -15px 0px -15px;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}

/* * * * * * * * * * Main Navigation Setup * * * * * * * * * * * */
a.nav-link:link {
	color: #ffffff
}

a.nav-link:visited {
	color: #ffffff
}

a.nav-link:hover {
	color: #ffffff
}

a.nav-link:active {
	color: #000000
}

.heading {
	margin: 20px;
}

.navigation {
	text-transform: uppercase;
	margin: 0 auto;
}

.bar {
	background-image: url("../images/navBar2.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -100px;
	height: 250px;
	position: relative;
	bottom: 10px;
}
/* * * * * * * * * * * * * Drop Down Menu Settings * * * * * * * * * */
ul.nav-list {
	text-align: left;
	display: inline;
	list-style: none;
}
ul.nav-list li {
	display: inline-block;
	position: relative;
	padding: 10px 15px 10px 15px;
	margin: 10px -4px 10px 0px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
ul.nav-list li:hover {
	border-bottom: 5px solid rgba(255,255,255,0.4);
	color: #202020;
}
ul.nav-list li ul {
    position: absolute;
    left: -40px;
    width: 149px;
    display: none;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    -webkit-transiton: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -transition: opacity 0.1s;
}
ul.nav-list li ul li { 
    margin-bottom: -10px;
    background: #555; 
    display: block; 
    color: #fff;
    font-size: 90%;
}

ul.nav-list li ul li:hover { background: #666; }
ul.nav-list li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.contents {
	padding: 12px 0px 12px 0px;
	position: relative;
	right: 24px;
	bottom: 88px;
}
/* * * * * * * * * * * * * * * Main Document Setup * * * * * * * * * */


#home {
	border-bottom: 5px solid white;
}

#resume {
	margin-right: 5em;
}

#works {
	margin-left: 10em;
}

#welcome {
    background-color: rgba(32,32,32,0.9);
    position: relative;
    width: 100px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
	border-radius: 3px;
    bottom: 10px;
    right: -30px;
    padding: 5px;
    margin: -20px;
}

#welcome-blurb {
    text-align: left;
    padding: 5px 10px 0px 10px;
}

.intro {
    background-image: url("../images/triangularD.png");
    background-repeat: repeat;
    width: 960px;
    padding: 10px 3px 5px 3px;
    margin: 0px auto;
	border-radius: 3px;
    
    -moz-box-shadow: 0 0 8px #3C3C3C;
    -webkit-box-shadow: 0 0 8px #3C3C3C;
    -o-box-shadow: 0 0 8px #3C3C3C;
    box-shadow: 0 0 8px #3C3C3C;
}

.footer {
    font-size: 80%;
    width: 960px;
    border-top: 1px solid white;
    margin: 5px auto 3px auto;
}

/* begin: slideshow */
.slideshow {
    position:relative;
    padding:0;
    width: 960px;
    margin: 20px auto;
    font-weight: bold;
	border-radius: 3px;

    -moz-box-shadow: 0 0 8px #3C3C3C;
    -webkit-box-shadow: 0 0 8px #3C3C3C;
    -o-box-shadow: 0 0 8px #3C3C3C;
    box-shadow: 0 0 8px #3C3C3C;
}
.slideshow a img {
    border:none;
	border-radius: 3px;
}
.slideshow li.slide {
    list-style-type:none;
}
.slideshow .slides {
    height:300px;
    margin: 10px auto 10px auto;
}
.slideshow .slides li.slide {
    visibility:hidden;
    position:absolute;
    left:0px;
    top:0px;
}
.slideshow .buttons {
    display:none;
}
.slideshow .buttons {
    display:block;
    position:absolute;
    z-index:100;
    left:0px;
    bottom:20px;
    margin:0;
}
.slideshow .buttons li {
    float:left;
    display:inline;
    width:20px;
    height:30px;
    padding: 0px 3px 0px 3px;
    margin:3px;
    line-height:30px;
    background-color: rgba(65, 65, 65, 0.8);
    border-radius: 20px;
}
.slideshow .buttons li a {
    text-decoration:none;
    width:30px;
    height:30px;
    color:#fff;
    outline:0;
}
.slideshow ul.buttons li a:hover {
    text-decoration:none;
    color:#0a0a0a;
}
.slideshow ul.buttons li.active a:hover,
.slideshow ul.buttons li.active a {
    color:#666666;
}

.test1, .test2, .test3 {
    text-align: justify;
    font-size: 90%;
    position: relative;
    bottom: 304px;
    width: 300px;
    height: 260px;
    float: right;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(30, 30, 30, 0.7);
    color: #ffffff;
}
/* end: slideshow */

